body{
	background:url("../images/fond2.jpg");
	background-size:cover;
	background-attachment:fixed;
	color:white;
}

h1{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	color:white;
	padding-left:35px;
	padding-top:30px;
	height:100px;
	width:100%;
	background-color: rgba(0,0,0,0.6);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.9);
}

li{
	color:white;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:0;
	padding-left:20px;
	padding-top:19px;
	background:url("../images/liste.png");
	height:55px;
	width:245px;
	font-weight:bold;
}
